body {
  padding-top: 50px;
}

.content {
  padding: 40px 15px;
  text-align: center;
}

.input-group {
  margin-bottom: 10px;
}

.progress {
  height: 34px;
  cursor: pointer;
}

.progress div {
  line-height: 34px;
}

.link-info {
  margin-top: -10px;
  margin-bottom: 20px;
}