{% load i18n %}

{% trans 'Url' %}: {{ link.url }}
<div class="row">
    <div class="col-xs-11">
        <div class="progress" data-toggle="collapse" data-target="#id-info-{{ link.id }}">
            <div id="id-{{ link.id }}" class="progress-bar {% if cls %}{{ cls }}{% else %}progress-bar-info{% endif %}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                {{ link.id }}
            </div>
        </div>
    </div>
    <div class="col-xs">
        <button class="btn btn-default delete-btn" type="button" onclick="$('#id-confirm-delete').attr('task_id', '{{ link.id }}').attr('url', '{{ link.url }}').modal('show');">
            <span class="fa fa-trash-o"></span>
        </button>
    </div>
</div>
{% include 'grab/_link_info.html' with link=link %}
