{% load i18n %}

<div id="id-info-{{ link.id }}" class="row collapse link-info" {% if link.img %}style="background-image: url({{ link.img.url }}); background-repeat: no-repeat;"{% endif %}>
    {% if link.title %}
    <div class="row">
        <div class="col-xs-2">{% trans 'title' %}</div>
        <div class="col-xs-10">{{ link.title }}</div>
    </div>
    {% endif %}
    {% if link.h1 %}
    <div class="row">
        <div class="col-xs-2">{% trans 'H1' %}</div>
        <div class="col-xs-10">{{ link.h1 }}</div>
    </div>
    {% endif %}
</div>
