{% include 'base.html' %}

{% load i18n %}
{% load staticfiles %}


{% block content %}
    <div id="id-create-links" class="container">                                                     
        <h1>
            {% trans "Please" %}, 
            <button id="id-add-link" type="button" class="btn btn-lg btn-success" onClick="javascript:void(0);">{% trans "add" %}</button> 
            {% trans "links and press" %}
            <button id="id-start" type="button" class="btn btn-lg btn-primary">{% trans 'start' %}</button>
        </h1>
        <div class="row">
            <div class="col-xs-8">{% trans 'There is possibility to delay start, if You wish, just fill this' %}</div>
            <div class="col-xs-4">
                <div class='input-group date' id='id-delay'>
                    <input name="countdown" id="id-countdown" type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <form id="id-link-form" method="post" action="">
            {% csrf_token %}
            {% for form in formset.forms %}
            <div id="{{ form.prefix }}-row" class="form-row">
                <div class="input-group">
                    {{ form.url }} 
                    <span class="input-group-btn">
                        <button class="btn btn-default delete-btn" type="button" onClick="javascript:void(0);">
                            <span class="fa fa-trash-o"></span>
                        </button>
                    </span>
                </div>
            </div>
            {% endfor %}
            {{ formset.management_form }}
        </form>
    </div>
    <div class="container page">
        {% include 'grab/_links.html' %}
    </div>
    <div class="container text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination" id="id-pagination"></ul>
        </nav>
    </div>
{% endblock content %}

{% block modals %}
<div id="id-confirm-delete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans 'Delete task?' %}</h4>
            </div>
            <div class="modal-body">
                <p>{% trans 'Are you sure want to delete this task?' %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'No' %}</button>
                <button type="button" id="id-delete-task" class="btn btn-danger">{% trans 'Delete' %}</button>
            </div>
        </div>

    </div>
</div>
{% endblock modals %}


{% block extra_css %}
    <link href="{% static 'vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
{% endblock extra_css %}


{% block extra_js %}
    <script src="{% static 'vendor/jquery/jquery.formset.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/moment/moment.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/twbs-pagination/jquery.twbsPagination.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/js-cookie/js.cookie.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        function addLink() {
            var add_button = $(this).closest('.container').find('.add-row'); 
            if ($('#id-link-form .form-row').length < {{ formset.max_num }}) { 
                add_button.trigger('click'); 
            } 
            return false;
        }

        function deleteLink() {
            $(this).closest('.input-group').next('.delete-row').trigger('click'); 
            return false;
        }

        function deleteTask() {
            var dialog = $('#id-confirm-delete');
            $.post(
                "{% url 'grab:delete' %}", 
                {task_id: dialog.attr('task_id')},
                function (data) {
                    dialog.modal('hide');
                }
            )
        }

        function showPage(page) {
            Cookies.set('last-active-page', page);
            $.get(
                '{% url "grab:home" %}',
                {page: page},
                function (data) {
                    $('.page').html(data['data']);
                }
            )
        }

        var defaultOpts = {
            initiateStartPageClick: true,
            visiblePages: 5,
            onPageClick: function (event, page) {
                showPage(page)
            }
        };

        function start() {                                
            $.post(
                '{% url "grab:create" %}',
                $('#id-link-form').serialize() + '&' + $.param({'countdown': $('#id-countdown').val()}),
                function (data) {
                    if (data.success) {
                        var pagination = $('#id-pagination');
                        var totalPages = data.num_pages;
                        var currentPage = pagination.twbsPagination('getCurrentPage');
                        pagination.twbsPagination('destroy');
                        pagination.twbsPagination($.extend({}, defaultOpts, {
                            startPage: currentPage,
                            totalPages: totalPages,
                        }));
                        $('.delete-row').trigger('click');
                    }
                }
            )
            return false;
        }

        function getUncompleteIds() {
            ids = {};
            $('.progress-bar').each(function (index, value) {
                var style = $(this).attr('style');
                if (!style || style.indexOf('100%') == -1) {
                    ids[index] = $(value).attr('id').replace('id-', '');
                }
            })
            return ids;
        }

        function getInfo() {
            var ids = getUncompleteIds();
            if (!$.isEmptyObject(ids)) {
                $.post(
                    '{% url "grab:info" %}',
                    ids, 
                    function (data) {
                        $(data['data']).each(function (index, value) {
                            $('#id-'+value.id).css('width', value.percent+'%').text(value.message+' ({% trans "click for details..." %})').addClass(value.cls)
                            if (value.info) {
                                $('#id-info-'+value.id).replaceWith($(value.info));
                            }
                        })
                    },
                    'json'
                )
            }
        }

        $(document).ready(function () {
            $('#id-pagination').twbsPagination($.extend({}, defaultOpts, {
                startPage: parseInt(Cookies.get('last-active-page')) || 1,
                totalPages: {{ paginator.num_pages }},
            }));

            $('form div.form-row').formset({
                deleteCssClass: 'delete-row hide',
                addCssClass: 'add-row hide',
                added: function (row) {
                    $(row).find('.delete-btn').bind('click', deleteLink);
                }
            });
            $('#id-delay').datetimepicker();
            $('#id-add-link').bind('click', addLink);
            $('#id-start').bind('click', start);
            $('.delete-btn').bind('click', deleteLink);
            $('#id-confirm-delete').on('shown.bs.modal', function () {
                $(this).find('.modal-body').text("{% trans 'Are you sure want to delete this task' %} "+$(this).attr('url')+'?');
            });
            $('#id-delete-task').bind('click', deleteTask);

            setInterval(getInfo, 500); 
        })
    </script>

{% endblock extra_js %}